body{
  margin: 0;
}
.app-container {
  background-image: url('/public/weather-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 91vh;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 50px;
}

/* Overlay */
/* .app-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
} */


input {
  padding: 10px;
  border: none;
  border-radius: 50px 0px 0px 50px;
  margin-right: 0px;
  outline: none;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* shadow added */
  transition: box-shadow 0.3s ease;
}

button {
  background: linear-gradient(to left, #bd7013,#d8d510);
  color: black;
  padding: 10px 15px;
  border-radius: 0px 50px 50px 0px;
  border: 0px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* shadow added */
  transition: box-shadow 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #bd7013,#d8d510);
}
p{
  color: black;
}
.main-title h2{
  font-size: 40px;
  color: black;
}
